<div *ngIf="loading">
  <app-spinner overlay="true" [color]="'accent'">
  </app-spinner>
</div>
<div class="row m-2">
  <div class="col-12">
    <app-date-picker-range [from]="startData" [to]="endDate" (selectedFrom)="filterBySelectedFrom($event)" (selectedTo)="filterBySelectedTo($event)"></app-date-picker-range>

  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="chart-container">
    <app-line-chart *ngIf="data | async | yearsFilter:selectedDates:refresh as actualData" [data]="[actualData]" [xAxisLabel]="'Data'" [yAxisLabel]="'Euro'"></app-line-chart>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="chart-container">
    <app-line-chart *ngIf="data | async | yearsFilter:selectedDates:refresh as actualData" [data]="[actualData]" [xAxisLabel]="'Data'" [yAxisLabel]="'Euro'"></app-line-chart>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="chart-container">
    <app-line-chart *ngIf="data | async | yearsFilter:selectedDates:refresh as actualData" [data]="[actualData]" [xAxisLabel]="'Data'" [yAxisLabel]="'Euro'"></app-line-chart>
    </div>
  </div>

</div>
