<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [textContent]="header"></a>
  <button  [routerLink]="'/'" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="''">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  [routerLink]="'/register'">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="!isAuthenticated" class="btn btn-outline-warning mr-sm-2">Login</button>
      <button *ngIf="isAuthenticated" class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
